@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes jump {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-4px);
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes show {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.coupon {
  text-align: center;
  position: relative;
  background-color: #87aa8c;
  padding: 1rem 4rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
}
@media screen and (min-width: 850px) {
  .coupon {
    flex-direction: row;
    gap: 2rem;
  }
}
.coupon__btn-close {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 850px) {
  .coupon__btn-close {
    top: 1.2rem;
  }
}
.coupon__icon {
  display: flex;
  width: 2.3rem;
  height: 2.3rem;
}
.coupon__btn {
  background-color: #fff;
  color: #87aa8c;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
}

.billboard {
  display: block;
  overflow: hidden;
}
.billboard__image {
  width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 608px) {
  .billboard__image--mobile {
    max-width: 608px;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 850px) {
  .billboard__image--mobile {
    display: none;
  }
}
.billboard__image--desktop {
  display: none;
}
@media screen and (min-width: 850px) {
  .billboard__image--desktop {
    display: block;
    margin: 2rem auto;
    max-width: 120rem;
  }
}

.nav {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #fff;
  height: 100%;
  box-shadow: none;
  transition: all 0.4s;
  transform: translateX(-200%);
}
@media screen and (min-width: 608px) {
  .nav {
    width: 70%;
  }
}
@media screen and (min-width: 850px) {
  .nav {
    display: none;
  }
}
@media screen and (max-height: 520px) {
  .nav {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.nav__btn-close {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}
@media screen and (min-width: 608px) {
  .nav__btn-close {
    right: -28vw;
  }
}
.nav__btn-close-icon {
  width: 2.3rem;
  height: 2.3rem;
}
.nav__image {
  width: 100%;
}
.nav__list-el {
  background-color: #f3f3f3;
}
.nav__link {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  color: inherit;
  background-color: #fff;
}
.nav__text {
  color: #353535;
  font-weight: 700;
  font-size: 2.1rem;
  margin-left: 2rem;
}
.nav__text--special {
  padding: 1.2rem 0;
  opacity: 0.5;
  text-transform: uppercase;
}
.nav__icon {
  width: 2.8rem;
  height: 2.8rem;
}
.nav__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #353535;
  height: 100%;
  opacity: 0.8;
  z-index: 999;
  transform: translateX(-100%);
}
@media screen and (min-width: 850px) {
  .nav__backdrop {
    display: none;
  }
}

.detail-box {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  z-index: 9;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 -0.5rem 4rem rgba(53, 53, 53, 0.2);
  transition: all 1s ease-in-out;
}
@media screen and (min-width: 850px) {
  .detail-box {
    display: none;
  }
}
.detail-box__image {
  width: 4rem;
  height: 4rem;
  margin-right: 3rem;
  filter: drop-shadow(0 0.1rem 0.5rem rgba(53, 53, 53, 0.2));
}
.detail-box__title {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
@media screen and (min-width: 408px) {
  .detail-box__title {
    white-space: normal;
  }
}
.detail-box__btn-link {
  margin-left: 1rem;
  background-color: #d7ae75;
  padding: 0.6rem 2.2rem;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0.1rem 0.5rem rgba(53, 53, 53, 0.2);
  transition: all 0.2s;
}
.detail-box__btn-link:hover {
  background-color: #87aa8c;
}
.detail-box__icon {
  width: 3rem;
  height: 3rem;
}

.cookies {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(53, 53, 53, 0.8);
  z-index: 999;
}
.cookies__wrapper {
  text-align: center;
  padding: 2rem;
  width: 80%;
  max-width: 85rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0.5rem 4rem rgba(53, 53, 53, 0.6);
  border-radius: 10px;
  overflow: hidden;
  animation: zoom 1s ease-in-out;
}
@media screen and (min-width: 850px) {
  .cookies__wrapper {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 4rem;
    text-align: left;
  }
}
.cookies__icon {
  width: 8rem;
  height: 8rem;
  border-radius: 4px;
}
@media screen and (min-width: 850px) {
  .cookies__icon {
    width: 20rem;
    height: 20rem;
  }
}
.cookies__title {
  font-size: 2.4rem;
  font-weight: 800;
}
.cookies__description {
  margin: 2rem 0 3rem;
}
.cookies__link {
  color: #d7ae75;
  text-decoration: underline 1px solid;
}
.cookies__link:hover {
  color: #87aa8c;
}
.cookies__buttons {
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 608px) {
  .cookies__buttons {
    flex-direction: row-reverse;
  }
}
.cookies__btn {
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 800;
  background-color: #f3f3f3;
  color: rgba(53, 53, 53, 0.5);
  border-radius: 4px;
  transition: all 0.4s;
}
.cookies__btn:hover {
  background-color: transparent;
}
.cookies__btn--special {
  background-color: #d7ae75;
  color: #fff;
}
.cookies__btn--special:hover {
  background-color: #87aa8c;
}

.about-us {
  background-color: #fff;
  box-shadow: 0 0.5rem 2rem rgba(53, 53, 53, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 60.8rem;
  overflow: hidden;
}
.about-us__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-us__image {
  width: 30rem;
  height: auto;
  position: absolute;
  top: -60%;
  animation: spin 200s infinite linear;
  filter: drop-shadow(0 0 1rem rgba(53, 53, 53, 0.3));
}
@media screen and (min-width: 608px) {
  .about-us__image {
    right: -20%;
    top: -180%;
  }
}
.about-us__title {
  text-align: center;
  margin-top: 20rem;
  font-weight: 800;
  font-size: 3rem;
}
@media screen and (min-width: 608px) {
  .about-us__title {
    margin-top: 10rem;
    text-align: left;
    margin: 4rem auto 0 2rem;
  }
}
.about-us__content {
  position: relative;
  z-index: 1;
  padding: 1.4rem 2rem 2rem;
}
.about-us__sub-title {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}
.about-us__description {
  margin: 1.4rem 0;
  font-size: 1.4rem;
}
.about-us__list {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 608px) {
  .about-us__list {
    justify-content: start;
    gap: 2rem;
  }
}
.about-us__link {
  display: flex;
}
.about-us__icon {
  border: 2px solid #d7ae75;
  border-top: 4px solid #d7ae75;
  border-radius: 4px;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
}
.about-us__icon:hover {
  border-top-width: 2px;
  border-bottom-width: 4px;
}
.about-us__icon--facebook:hover {
  background-color: #1877f2;
}
.about-us__icon--instagram:hover {
  background: linear-gradient(45deg, #c32aa3, #4c5fd7, #7232bd, #f46f30, #ffdc7d);
}
.about-us__icon--youtube:hover {
  background-color: #ff0000;
}
.about-us__icon--twitter:hover {
  background-color: #1da1f2;
}
.about-us__icon--pinterest:hover {
  background-color: #bd081c;
}

.slider {
  overflow: hidden;
  max-width: 60.8rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 40rem;
  border-radius: 10px;
  min-height: 40rem;
}
.slider__el {
  top: 0;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  position: absolute;
}
.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  border: none;
  background-color: #fff;
  border-radius: 50px;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.2s;
}
.slider__btn:hover {
  opacity: 1;
}
.slider__btn--next {
  right: 2rem;
}
.slider__btn--prev {
  left: 2rem;
}
.slider__btn-icon {
  width: 3rem;
  height: 3rem;
}

.info {
  padding: 2rem 2rem 4rem;
  position: relative;
  border-radius: 2px;
}
.info__buttons {
  position: absolute;
  top: 3rem;
  display: flex;
  gap: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 608px) {
  .info__buttons {
    gap: 2rem;
  }
}
.info__btn {
  border: none;
  flex-basis: 100%;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 -0.5rem 1rem rgba(53, 53, 53, 0.2) inset;
}
.info__btn:hover {
  box-shadow: 0 0.5rem 1rem rgba(53, 53, 53, 0.2) inset;
}
@media screen and (min-width: 850px) {
  .info__btn {
    padding: 1rem 2rem;
  }
}
.info__btn-icon {
  transform: rotate(0);
  width: 2.8rem;
  height: 2.8rem;
}
.info__btn-text {
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 800;
  display: none;
  color: #353535;
  transition: all 0.2s;
}
@media screen and (min-width: 608px) {
  .info__btn-text {
    display: inline-block;
  }
}
@media screen and (min-width: 850px) {
  .info__btn-text {
    font-size: 1.8rem;
  }
}
.info__content {
  display: flex;
  gap: 2rem;
}
.info__section {
  display: none;
  opacity: 0;
  background-color: #fff;
  transition: all 0.2s;
  width: 100%;
  flex-basis: 100%;
  margin: 6rem auto 0;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 2rem rgba(53, 53, 53, 0.2);
}
@media screen and (min-width: 850px) {
  .info__section {
    display: block;
  }
}
.info__list {
  display: grid;
  grid-gap: 1.7rem;
  margin: 2rem 0;
}
.info__list-el {
  font-weight: 700;
  list-style: disc;
  margin-left: 2rem;
}
.info__audio {
  transform: translateX(-5rem) scale(0.8);
  width: 120%;
}

.form {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 608px) {
  .form {
    display: flex;
    justify-content: space-between;
  }
}
.form > * {
  flex-basis: 100%;
}
.form__box {
  padding: 4rem 2rem 2rem;
  background-color: #353535;
}
@media screen and (min-width: 608px) {
  .form__box {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(45deg, rgba(215, 174, 117, 0.9), rgba(135, 170, 140, 0.5)), url("/img/form_desktop_large.png");
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 850px) {
  .form__box {
    flex-basis: 50%;
  }
}
.form__box--pcOnly {
  display: none;
}
@media screen and (min-width: 850px) {
  .form__box--pcOnly {
    display: block;
    transform: scale(-1, 1);
    flex-basis: 50%;
  }
}
.form__logo {
  display: block;
  width: 17rem;
  height: auto;
  margin: 0 auto;
  filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.7));
}
@media screen and (min-width: 608px) {
  .form__logo {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 8px;
  }
}
.form__list {
  margin: 2rem 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  color: #d7ae75;
  font-weight: 800;
  gap: 1rem;
}
@media screen and (min-width: 608px) {
  .form__list {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background-color: #fff;
    padding: 2rem;
    margin: 2rem;
    border-radius: 8px;
    filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.7));
  }
}

.progress-btn {
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  background-color: transparent;
}
.progress-btn__number {
  position: relative;
  margin: 0 auto;
  display: grid;
  place-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  box-shadow: 0 -1rem 2rem rgba(53, 53, 53, 0.2) inset;
  background-color: rgba(215, 174, 117, 0.1);
  border: 2px solid #d7ae75;
}
.progress-btn__title {
  padding-top: 1rem;
  font-size: 1.4rem;
  display: inline-block;
}

.steps {
  align-items: center;
  box-shadow: 0 -1rem 2rem rgba(53, 53, 53, 0.2) inset;
  border-top: 4px solid #d7ae75;
  background-color: #fff;
  padding: 4rem 2rem;
}
@media screen and (min-width: 608px) {
  .steps {
    border-top: none;
  }
}
.steps__title {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
  font-weight: 800;
}
.steps__btn {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  font-weight: 800;
  background-color: #353535;
  color: #d7ae75;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: inherit;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
}
.steps__btn:hover {
  color: #fff;
  background-color: #d7ae75;
}
@media screen and (min-width: 408px) {
  .steps__btn {
    width: 70%;
  }
}

.address__row {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 408px) {
  .address__row {
    flex-direction: row;
    gap: 2rem;
  }
}
@media screen and (min-width: 608px) {
  .address__row {
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (min-width: 850px) {
  .address__row {
    flex-direction: row;
    gap: 2rem;
  }
}
.address__col {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}
.address__input {
  display: block;
  width: 100%;
  padding: 1.3rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: 1px solid rgba(53, 53, 53, 0.4);
  border-radius: 8px;
}
.address__input:focus {
  border: 1px solid #d7ae75;
  outline: none;
}
.address__label {
  top: -7px;
  left: 1rem;
  color: rgba(53, 53, 53, 0.8);
  position: absolute;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0 0.4rem;
  font-weight: 800;
}

.step {
  display: none;
}
.step__image {
  width: 70%;
  margin: 2rem auto 4rem;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0.5rem 2rem rgba(53, 53, 53, 0.2);
  mix-blend-mode: luminosity;
  animation: jump 1s infinite alternate ease-in-out;
}

.card {
  border-radius: 8px;
  box-shadow: 0 0rem 1rem rgba(53, 53, 53, 0.2);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 3rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: stretch;
  background-color: #fff;
}
.card__image-wrapper {
  overflow: hidden;
  background-color: rgba(53, 53, 53, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 14rem;
  width: 100%;
}
.card__image {
  object-fit: cover;
  width: 100%;
  display: block;
  height: 100%;
}
.card__image:hover {
  transform: scale(1.2);
}
.card__section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}
.card__section--total {
  flex-direction: row;
  display: flex;
}
.card__title {
  font-size: 2rem;
  font-weight: 800;
}
.card__box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.card__amount {
  margin: auto 0 0 0;
  font-size: 2.4rem;
  font-weight: 800;
  color: #87aa8c;
}
.card__pieces {
  margin: auto 0 0 0;
  padding: 0.3rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  gap: 2rem;
  border: 1px solid #87aa8c;
  height: max-content;
  background-color: rgba(135, 170, 140, 0.2);
}
.card__btn {
  background-color: #fff;
  border: 2px solid #87aa8c;
  display: grid;
  place-content: center;
  width: 3rem;
  border-radius: 8px;
  height: 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.card__btn:hover {
  background-color: #f3f3f3;
}
.card__quantity {
  font-weight: 800;
  color: #87aa8c;
}
.card__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0rem 1rem rgba(53, 53, 53, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
}

.radio-box {
  margin-bottom: 2rem;
  position: relative;
}
.radio-box__input {
  position: absolute;
  width: 3rem;
  height: 3rem;
  accent-color: #289b39;
  grid-column: 1/2;
  grid-row: 1/3;
  top: 1rem;
  left: 1rem;
}
.radio-box__label {
  border: 1px solid rgba(53, 53, 53, 0.2);
  padding: 2rem;
  border-radius: 8px;
  background-color: #f3f3f3;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 3rem 4fr 0.5fr;
  grid-template-rows: 0.5fr 1fr;
  cursor: pointer;
}
.radio-box__title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-weight: 800;
  font-size: 2rem;
}
.radio-box__description {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.4rem;
  color: rgba(53, 53, 53, 0.5);
}
.radio-box__amount {
  font-weight: 800;
  grid-column: 3/4;
  grid-row: 1/2;
}
.radio-box__icon {
  width: 5rem;
  height: 5rem;
  grid-column: 3/4;
  grid-row: 2/3;
}

.summary {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(53, 53, 53, 0.8);
  background-image: linear-gradient(45deg, rgba(215, 174, 117, 0.9), rgba(135, 170, 140, 0.5)), url("../img/slider3_large.png");
  background-size: cover;
  z-index: 999;
  transition: all 1s;
  display: none;
}
.summary__wrapper {
  text-align: left;
  width: 80%;
  max-width: 45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0.5rem 4rem rgba(53, 53, 53, 0.6);
  border-radius: 10px;
  overflow: hidden;
  animation: zoom 1s ease-in-out;
}
.summary__image {
  width: 100%;
}
.summary__section {
  padding: 1rem 2rem 2rem;
  display: grid;
  grid-gap: 2rem;
}
.summary__section--hidden {
  text-align: center;
}
.summary__title {
  font-size: 2.4rem;
  font-weight: 800;
}
.summary__box {
  display: grid;
  grid-template-columns: 1fr 2fr 7rem;
}
.summary__box--total {
  padding-top: 2rem;
  border-top: 1px solid #d7ae75;
  grid-template-columns: 1fr 7rem;
  font-size: 2rem;
  font-weight: 800;
}
.summary__amount {
  justify-self: flex-start;
}
.summary__btn {
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 800;
  color: rgba(53, 53, 53, 0.5);
  border-radius: 4px;
  transition: all 0.4s;
  background-color: #d7ae75;
  color: #fff;
}
.summary__btn:hover {
  background-color: #87aa8c;
}

.header {
  position: relative;
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0.5rem 4rem rgba(53, 53, 53, 0.1);
}
@media screen and (min-width: 608px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 850px) {
  .header {
    padding: 2rem 0;
  }
}
.header__wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 608px;
  margin: 0 auto;
}
@media screen and (min-width: 850px) {
  .header__wrapper {
    max-width: 120rem;
    padding: 0 2rem;
    gap: 4rem;
  }
}
@media screen and (min-width: 1224px) {
  .header__wrapper {
    padding: 0;
  }
}
.header__hamburger-btn {
  border: none;
  background-color: transparent;
  width: 3.8rem;
  height: 3.8rem;
  cursor: pointer;
}
@media screen and (min-width: 850px) {
  .header__hamburger-btn {
    display: none;
  }
}
.header__hamburger-icon {
  width: 100%;
  height: auto;
}
.header__link {
  display: flex;
  align-items: center;
  width: max-content;
}
.header__logo {
  width: 15rem;
  height: auto;
  transform: translateY(1px);
}
.header__nav {
  display: none;
}
@media screen and (min-width: 850px) {
  .header__nav {
    display: block;
  }
}
.header__list {
  display: flex;
  gap: 4rem;
}
.header__list-link {
  font-weight: 800;
  display: block;
  color: #353535;
  font-size: 2.1rem;
  transition: all 0.2s;
}
.header__list-link:hover {
  color: #87aa8c;
  text-decoration: underline #d7ae75 3px;
}
.header__btn-link {
  position: relative;
  display: flex;
  width: 3rem;
  height: 3rem;
  margin: 0 2rem 0 auto;
  z-index: 1;
}
.header__btn-number {
  position: absolute;
  top: -0.4rem;
  right: -1rem;
  background-color: #d7ae75;
  color: #fff;
  font-weight: 700;
  display: grid;
  place-content: center;
  width: 1.8rem;
  border-radius: 100px;
  font-size: 1rem;
  height: 1.8rem;
  z-index: -1;
  transition: all 0.2s;
}
.header__link-icon {
  width: 100%;
  height: auto;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  gap: 2rem;
  border-radius: 2px;
}
@media screen and (min-width: 850px) {
  .section {
    flex-direction: row;
    gap: 4rem;
  }
}
.section > * {
  flex-basis: 100%;
}
.section--1 {
  background-color: #fff;
}
.section--2 {
  overflow: hidden;
  background-color: rgba(215, 174, 117, 0.2);
  padding: 2rem 0;
}
@media screen and (min-width: 608px) {
  .section--2 {
    padding: 4rem 0;
  }
}
.section__content {
  max-width: 60.8rem;
  margin: 0 auto;
}
.section__title-primary {
  font-weight: 800;
}
@media screen and (min-width: 608px) {
  .section__title-primary {
    font-size: 3.5rem;
  }
}
.section__description {
  margin-top: 1rem;
  opacity: 0.6;
}
.section__amount {
  color: #d7ae75;
  font-size: 3.5rem;
  font-weight: 800;
  display: flex;
  gap: 0.5rem;
  margin: 2rem 0;
}
.section__currency {
  transform: translateY(6px);
  font-size: 1.5rem;
  justify-self: flex-start;
}
.section__form {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
}
.section__select {
  height: 4.72rem;
  border: 2px solid #353535;
  border-radius: 4px;
  font-size: 2rem;
  color: #d7ae75;
  cursor: pointer;
  font-family: inherit;
  font-weight: 800;
  border-bottom-width: 4px;
  width: 30%;
}
@media screen and (min-width: 608px) {
  .section__select {
    width: 100%;
  }
}
.section__btn {
  display: block;
  width: 70%;
  padding: 1rem;
  border: none;
  font-weight: 800;
  background-color: #353535;
  color: #d7ae75;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: inherit;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
}
.section__btn:hover {
  color: #fff;
  background-color: #d7ae75;
}
@media screen and (min-width: 608px) {
  .section__btn {
    width: 100%;
  }
}

.footer {
  background-color: #87aa8c;
}
.footer__wrapper {
  max-width: 120rem;
  padding: 2rem 2rem 8rem;
  margin: 0 auto;
  gap: 4rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 850px) {
  .footer__wrapper {
    flex-direction: row-reverse;
    padding: 4rem 2rem;
  }
}
.footer__list {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}
@media screen and (min-width: 850px) {
  .footer__list {
    text-align: left;
  }
}
.footer__list-el {
  padding-bottom: 3rem;
  text-transform: uppercase;
}
.footer__text {
  margin: 0 auto;
  color: #353535;
  font-size: 2rem;
  font-weight: 800;
}
.footer__link {
  color: #fff;
  display: block;
  font-weight: 700;
  text-decoration: underline;
}
.footer__link--special {
  color: #353535;
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #f3f3f3;
  color: #353535;
  font-family: "Nunito", sans-serif;
  position: relative;
}

.main {
  max-width: 120rem;
  margin: 0 auto;
}

img[data-src] {
  transition: all 0.2s ease-in-out;
}

.filter {
  filter: blur(10px);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.filter--circle {
  clip-path: circle(50% at 50% 50%);
}

.active-nav {
  box-shadow: 1rem 0 4rem #353535;
  transform: translateX(0);
}

.stop-body {
  overflow-y: hidden;
}

.active-btn {
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
}
.active-btn:hover {
  box-shadow: 0 0 2rem #fff;
}

.active-btn > .active-btn--more {
  transform: rotate(-180deg);
}

.active-section {
  display: block;
  opacity: 1;
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
}

.active-step-btn {
  font-weight: 800;
}
.active-step-btn span:first-child {
  color: #fff;
  background-color: #87aa8c;
  border-color: #87aa8c;
}
.active-step-btn span:last-child {
  color: #87aa8c;
}

.active-step {
  display: grid;
}

.primary {
  color: #d7ae75;
}

.secondary {
  color: #87aa8c;
}

.fixed-header {
  position: sticky;
  top: 0;
  z-index: 99;
  border-radius: 0 0 24px 24px;
  animation: show 1s ease-in-out;
  box-shadow: 0 0.5rem 4rem rgba(53, 53, 53, 0.2);
}

.hide-detail-box {
  transform: translateY(100%);
}

.hide-section-form {
  display: none;
}

.added {
  background-color: #87aa8c;
}

.active-summary {
  display: block;
}

.hidden-summary-section {
  display: none;
}

/*# sourceMappingURL=main.css.map */
