@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap");
.coupon {
  text-align: center;
  position: relative;
  background-color: #87aa8c;
  padding: 1rem 4rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
}
@media screen and (min-width: 850px) {
  .coupon {
    flex-direction: row;
    gap: 2rem;
  }
}
.coupon__btn-close {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 850px) {
  .coupon__btn-close {
    top: 1.2rem;
  }
}
.coupon__icon {
  display: flex;
  width: 2.3rem;
  height: 2.3rem;
}
.coupon__btn {
  background-color: #fff;
  color: #87aa8c;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
}

.billboard {
  display: block;
  overflow: hidden;
}
.billboard__image {
  width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 608px) {
  .billboard__image--mobile {
    max-width: 608px;
    margin: 2rem auto;
    padding: 0 2rem;
  }
}
@media screen and (min-width: 850px) {
  .billboard__image--mobile {
    display: none;
  }
}
.billboard__image--desktop {
  display: none;
}
@media screen and (min-width: 850px) {
  .billboard__image--desktop {
    display: block;
    margin: 2rem auto;
    padding: 0 2rem;
    max-width: 120rem;
  }
}

.nav {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #fff;
  height: 100%;
  box-shadow: none;
  transition: all 0.4s;
  transform: translateX(-200%);
}
@media screen and (min-width: 608px) {
  .nav {
    width: 70%;
  }
}
@media screen and (min-width: 850px) {
  .nav {
    display: none;
  }
}
@media screen and (max-height: 520px) {
  .nav {
    overflow-y: scroll;
  }
}
.nav__btn-close {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}
@media screen and (min-width: 608px) {
  .nav__btn-close {
    right: -28vw;
  }
}
.nav__btn-close-icon {
  width: 2.3rem;
  height: 2.3rem;
}
.nav__image {
  width: 100%;
}
.nav__list-el {
  background-color: #f3f3f3;
}
.nav__link {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  color: inherit;
  background-color: #fff;
}
.nav__text {
  color: #353535;
  font-weight: 700;
  font-size: 2.1rem;
  margin-left: 2rem;
}
.nav__text--special {
  padding: 1.2rem 0;
  opacity: 0.5;
  text-transform: uppercase;
}
.nav__icon {
  width: 2.8rem;
  height: 2.8rem;
}
.nav__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #353535;
  height: 100%;
  opacity: 0.8;
  z-index: 2;
  transform: translateX(-100%);
}
@media screen and (min-width: 850px) {
  .nav__backdrop {
    display: none;
  }
}

.detail-box {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 -0.5rem 4rem rgba(53, 53, 53, 0.1);
}
@media screen and (min-width: 850px) {
  .detail-box {
    display: none;
  }
}
.detail-box__image {
  width: 4rem;
  height: 4rem;
  margin-right: 3rem;
  filter: drop-shadow(0 0.1rem 0.5rem rgba(53, 53, 53, 0.2));
}
.detail-box__title {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
@media screen and (min-width: 408px) {
  .detail-box__title {
    white-space: normal;
  }
}
.detail-box__btn-link {
  margin-left: 1rem;
  background-color: #d7ae75;
  padding: 0.6rem 2.2rem;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0.1rem 0.5rem rgba(53, 53, 53, 0.2);
}
.detail-box__icon {
  width: 3rem;
  height: 3rem;
}

.header {
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0.5rem 4rem rgba(53, 53, 53, 0.1);
}
@media screen and (min-width: 608px) {
  .header {
    padding: 2rem;
  }
}
@media screen and (min-width: 850px) {
  .header {
    padding: 2rem 0;
  }
}
.header__wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 608px;
  margin: 0 auto;
}
@media screen and (min-width: 850px) {
  .header__wrapper {
    max-width: 120rem;
    padding: 0 2rem;
    gap: 4rem;
  }
}
.header__hamburger-btn {
  border: none;
  background-color: transparent;
  width: 3.8rem;
  height: 3.8rem;
  cursor: pointer;
}
@media screen and (min-width: 850px) {
  .header__hamburger-btn {
    display: none;
  }
}
.header__hamburger-icon {
  width: 100%;
  height: auto;
}
.header__link {
  display: flex;
  align-items: center;
  width: max-content;
}
.header__logo {
  width: 15rem;
  height: auto;
  transform: translateY(3px);
}
.header__nav {
  display: none;
}
@media screen and (min-width: 850px) {
  .header__nav {
    display: block;
  }
}
.header__list {
  display: flex;
  gap: 4rem;
}
.header__list-link {
  font-weight: 800;
  display: block;
  color: #353535;
  font-size: 2.1rem;
  transition: all 0.2s;
}
.header__list-link:hover {
  color: #87aa8c;
  text-decoration: underline #d7ae75 3px;
}
.header__btn-link {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin: 0 0 0 auto;
}
.header__link-icon {
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  box-sizing: border-box;
  height: 100vh;
  font-size: 1.6rem;
  background-color: #f3f3f3;
  color: #353535;
  font-family: "Nunito", sans-serif;
  position: relative;
}

.main {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  height: 100vh;
  display: block;
}
.section--1 {
  background-color: #fff;
}
.section--2 {
  background-color: #87aa8c;
}
.section--3 {
  background-color: #d7ae75;
}

.footer {
  display: block;
  height: 60vh;
  background-color: #87aa8c;
}

.filter {
  filter: blur(10px);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*# sourceMappingURL=main.css.map */
