$color-primary: #d7ae75;
$color-secondary: #87aa8c;
$color-tertiary: #f3f3f3;
$color-light: #fff;
$color-dark: #000;

$font-primary: 'Dongle', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$radius-big: 20px;