$color-primary: #d7ae75;
$color-secondary: #87aa8c;
$color-tertiary: #f3f3f3;
$color-light: #fff;
$color-dark: #353535;

// $font-primary: 'Dongle', sans-serif;
$font-primary: 'Nunito', sans-serif;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
$fw-extra-bold: 800;

$radius-big: 20px;