@import 'abstracts/variables';
@import 'abstracts/keyframes';

@import 'base/base';
@import 'components/coupon';
@import 'components/billboard';
@import 'components/nav';
@import 'components/detail-box';
@import 'components/cookies';
@import 'components/about-us';
@import 'components/slider';
@import 'components/info';

@import 'layout/header';
@import 'layout/section';
@import 'layout/footer';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  box-sizing: border-box;
  height: 100vh;
  font-size: 1.6rem;
  background-color: $color-tertiary;
  color: $color-dark;
  font-family: $font-primary;
  position: relative;
}

.main {
  max-width: 120rem;
  margin: 0 auto;
}

// special classes
.filter {
  filter: blur(10px);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

// .active-nav {
//   box-shadow: 1rem 0 4rem $color-dark;
//   transform: translateX(0);
// }

.active-btn{
  background-color:$color-light;
}

.active-more{
  transform: rotate(-180deg);
}
.active-section{
 display: block;
}

.primary{
  color: $color-primary;
}
.secondary{
  color: $color-secondary;
}
