@import 'abstracts/variables';
@import 'abstracts/keyframes';

@import 'base/base';
@import 'components/coupon';
@import 'components/billboard';
@import 'components/nav';
@import 'components/detail-box';
@import 'components/cookies';
@import 'components/about-us';
@import 'components/slider';
@import 'components/info';
@import 'components/form';

@import 'layout/header';
@import 'layout/section';
@import 'layout/footer';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: $color-tertiary;
  color: $color-dark;
  font-family: $font-primary;
  position: relative;
}

.main {
  max-width: 120rem;
  margin: 0 auto;
}

// special classes
img[data-src]{
  transition: all 0.2s ease-in-out;
}
.filter {
  filter: blur(10px);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  &--circle{
    clip-path: circle(50% at 50% 50%);
  }
}

.active-nav {
  box-shadow: 1rem 0 4rem $color-dark;
  transform: translateX(0);
}

.stop-body {
  overflow-y: hidden;
}

.active-btn {
  background-color: $color-light;
  box-shadow: 0 0 2rem rgba($color-light, 0.7);
  &:hover {
    box-shadow: 0 0 2rem $color-light;
  }
}

.active-btn > .active-btn--more {
  transform: rotate(-180deg);
}



.active-section {
  display: block;
  opacity: 1;
  box-shadow: 0 0 2rem rgba($color-light, 0.7);
}

.active-step-btn {
  font-weight: $fw-extra-bold;
  span:first-child {
    color: $color-light;
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
  span:last-child{
    color: $color-secondary;
  }
}

.active-step{
  display: grid;
}

.primary {
  color: $color-primary;
}
.secondary {
  color: $color-secondary;
}

.fixed-header {
  position: sticky;
  top: 0;
  background-color: rgba($color-light, 0.95);
  z-index: 99;
  animation: show 1s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.1);
}
