.demo {
  height: 100vh;
  text-align: center;
  display: grid;
  place-content: center;
  position: relative;
  padding: 2rem;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &__section {
    z-index: 1;
    border-radius: 8px;
    background-color: $color-light;
    box-shadow: 0 0 2rem $color-light;
    padding: 2rem;
  }
  &__title {
    font-weight: $fw-extra-bold;
    font-size: 3rem;
  }
  &__image {
    width: 100%;
    border-radius: 8px;
    margin: 2rem auto;
  }
  &__subtitle {
    font-size: 2rem;
  }
  &__text {
    font-weight: $fw-extra-bold;
    display: grid;
    font-size: 2rem;
    margin-top: 2rem;
  }
  &__link {

    color: $color-secondary;
    text-decoration: underline;
  }
  &__back-btn {
    top: 2rem;
    left: 2rem;
    position: absolute;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    font-family: inherit;
    text-shadow: 0 0 1rem $color-light;
    border: none;
    background-color: transparent;
    text-align: left;
    color: $color-dark;
    font-weight: $fw-extra-bold;
    cursor: pointer;
    transition: all 0.2s;
    width: max-content;
    opacity: 1;
    &:hover > .demo__icon {
      transform: translateX(-4px);
    }
  }
  &__icon {
    display: block;
    transition: all 0.2s;
  }
}

// temporary solution
.back-btn {
  // top: 2rem;
  // left: 2rem;
  // position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  text-shadow: 0 0 1rem $color-light;
  border: none;
  background-color: transparent;
  text-align: left;
  color: $color-dark;
  font-weight: $fw-extra-bold;
  cursor: pointer;
  transition: all 0.2s;
  width: max-content;
  opacity: 1;
  &:hover > .demo__icon {
    transform: translateX(-4px);
  }
  &__icon {
    display: block;
    transition: all 0.2s;
  }
}

