.billboard {
  display: block;
  overflow: hidden;
  &__image {
    width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    &--mobile {
      @media screen and (min-width: 608px) {
        max-width: 608px;
        margin: 2rem auto;
        padding: 0 2rem;
      }
      @media screen and (min-width: 850px) {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @media screen and (min-width: 850px) {
        display: block;
        margin: 2rem auto;
        padding: 0 2rem;
        max-width: 120rem;
      }
    }
  }
}
